	body {
		background-color: #000000;
	}
	h1 {
    color: #FFFFFF;
	font-family: Helvetica, Arial, Times New Roman;
	font-size: 70px;
	}
	span {
    color: FFFFFF;
	font-family: Helvetica, Arial, Times New Roman;
	font-size: 36px;
	}
	.raveTable {
	background-color: FFFFFF;
	border: 0px;
	}
	.container {
	width: 100%;
	display: block;
	valign: middle;
	}
	.container-fixed {
	width: 500px;
	margin-left: 300px;
	margin-top: 100px;
	}
	.nowplaying {
	display: inline-block;
	}
	.performer {
	display: inline-block;
    vertical-align: middle;
	}
	.raveTable {
	background-color: transparent;
	}